{
    "reportPCInfoTime": "20260613",
    "cache.appPushVersion": 1553,
    "cache.apkInterectVersion": 2848,
    "isBaseboard": true,
    "nextCheckupdateTime": 1781330434,
    "nextUpdateTime": 888888,
    "ignoreVersion": "0900019800",
    "hasPluginLast": false,
    "noiceEntranceVersion": 11384,
    "noiceYunFiles": true,
    "isFirstInstallApk": false,
    "languageId": "zh_CN",
    "mulTab": true,
    "exitFullscreenEsc": true,
    "disableMouseRightOpt": false,
    "framesPerSecond": 30,
    "reduceAudio": true,
    "vmdkFastMode": false,
    "cloneFromSmallDisk": true,
    "windowsAlignType": 0,
    "windowsRowCount": 4,
    "windowsAutoSize": true,
    "sortwndnotoutscreen": true,
    "moreScreenSortInSame": true,
    "windowsOrigin": {
        "x": 0,
        "y": 0
    },
    "windowsOffset": {
        "x": 40,
        "y": 40
    },
    "batchStartInterval": 5,
    "batchNewCount": 5,
    "batchCloneCount": 5,
    "windowsRecordPos": false,
    "productLanguageId": "zh_CN",
    "channelOpenId": "412572",
    "channelLastOpenId": "407594",
    "isSSD": true,
    "fromInstall": false,
    "loginedUid": "2031251121161800003",
    "loginedUserName": "金金"
}