{
    "propertySettings.phoneIMEI": "358523020935796",
    "propertySettings.phoneIMSI": "460006989846923",
    "propertySettings.phoneSimSerial": "89860029631911723103",
    "propertySettings.phoneAndroidId": "814e7f95db2c6d1c",
    "propertySettings.phoneModel": "2311DRK48C",
    "propertySettings.phoneManufacturer": "Redmi",
    "propertySettings.macAddress": "00DB2220DDFD",
    "statusSettings.isNewPlayer": false,
    "statusSettings.sharedApplications": "C:/Users/Administrator/Documents/leidian9/Applications",
    "statusSettings.sharedPictures": "C:/Users/Administrator/Documents/leidian9/Pictures",
    "statusSettings.sharedMisc": "C:/Users/Administrator/Documents/leidian9/Misc",
    "advancedSettings.resolution": {
        "width": 1280,
        "height": 720
    },
    "advancedSettings.resolutionDpi": 240,
    "basicSettings.left": 640,
    "basicSettings.top": 323,
    "basicSettings.width": 1280,
    "basicSettings.height": 720,
    "basicSettings.realHeigh": 754,
    "basicSettings.realWidth": 1318,
    "networkSettings.networkEnable": true,
    "basicSettings.isForstStart": false,
    "basicSettings.mulFsAddSize": 0,
    "basicSettings.mulFsAutoSize": 2,
    "basicSettings.autoRun": false,
    "basicSettings.rootMode": true,
    "statusSettings.closeOption": 0,
    "basicSettings.verticalSync": false,
    "basicSettings.heightFrameRate": false,
    "basicSettings.adbDebug": 1,
    "advancedSettings.cpuCount": 4,
    "advancedSettings.memorySize": 4096,
    "propertySettings.phoneNumber": "",
    "basicSettings.autoRotate": true,
    "basicSettings.isForceLandscape": false,
    "basicSettings.standaloneSysVmdk": false,
    "basicSettings.lockWindow": false,
    "advancedSettings.micphoneName": "",
    "advancedSettings.speakerName": "",
    "networkSettings.networkSwitching": true,
    "networkSettings.networkStatic": false,
    "networkSettings.networkAddress": "0.0.0.0",
    "networkSettings.networkGateway": "0.0.0.0",
    "networkSettings.networkSubnetMask": "255.255.255.0",
    "networkSettings.networkDNS1": "223.5.5.5",
    "networkSettings.networkDNS2": "114.114.114.114",
    "networkSettings.networkInterface": "Realtek Gaming 2.5GbE Family Controller",
    "basicSettings.disableMouseFastOpt": true,
    "basicSettings.cjztdisableMouseFastOpt_new": 0,
    "basicSettings.HDRQuality": 0,
    "basicSettings.qjcjdisableMouseFast": 1,
    "basicSettings.fps": 60,
    "basicSettings.astc": true,
    "hotkeySettings.backKey": {
        "modifiers": 0,
        "key": 27
    },
    "hotkeySettings.homeKey": {
        "modifiers": 0,
        "key": 112
    },
    "hotkeySettings.appSwitchKey": {
        "modifiers": 0,
        "key": 113
    },
    "hotkeySettings.menuKey": {
        "modifiers": 0,
        "key": 114
    },
    "hotkeySettings.zoomInKey": {
        "modifiers": 0,
        "key": 115
    },
    "hotkeySettings.zoomOutKey": {
        "modifiers": 0,
        "key": 116
    },
    "hotkeySettings.bossKey": {
        "modifiers": 2,
        "key": 81
    },
    "hotkeySettings.shakeKey": {
        "modifiers": 0,
        "key": 120
    },
    "hotkeySettings.operationRecordKey": {
        "modifiers": 0,
        "key": 121
    },
    "hotkeySettings.operationRecordPauseKey": {
        "modifiers": 0,
        "key": 0
    },
    "hotkeySettings.operationRecordShowFrame": {
        "modifiers": 2,
        "key": 56
    },
    "hotkeySettings.fullScreenKey": {
        "modifiers": 0,
        "key": 122
    },
    "hotkeySettings.showMappingKey": {
        "modifiers": 0,
        "key": 123
    },
    "hotkeySettings.videoRecordKey": {
        "modifiers": 0,
        "key": 119
    },
    "hotkeySettings.mappingRecordKey": {
        "modifiers": 0,
        "key": 117
    },
    "hotkeySettings.keyboardModelKey": {
        "modifiers": 2,
        "key": 70
    },
    "hotkeySettings.soundAddKey": {
        "modifiers": 2,
        "key": 107
    },
    "hotkeySettings.soundSubKey": {
        "modifiers": 2,
        "key": 109
    },
    "hotkeySettings.screenCutKey": {
        "modifiers": 2,
        "key": 48
    },
    "hotkeySettings.miniKey": {
        "modifiers": 2,
        "key": 112
    },
    "hotkeySettings.multiKey": {
        "modifiers": 2,
        "key": 50
    },
    "hotkeySettings.installApkKey": {
        "modifiers": 2,
        "key": 51
    },
    "hotkeySettings.shareFileKey": {
        "modifiers": 2,
        "key": 53
    },
    "hotkeySettings.locationKey": {
        "modifiers": 2,
        "key": 55
    },
    "hotkeySettings.syncKey": {
        "modifiers": 2,
        "key": 57
    },
    "basicSettings.rightToolBar": true,
    "basicSettings.fsAutoSize": 1,
    "basicSettings.androidOAID": "Tjn2j9W2nIX9Sm6zSI1ho534pcw7YpbWydElyG3qWiX5w92VLq9kL590Xjt151gc",
    "basicSettings.dllsFG": 0,
    "basicSettings.dllsSR": 0,
    "basicSettings.hasDiskClear": false,
    "statusSettings.playerName": "日服"
}